.menu {
    background-color: #F5EBF2;
    height: 50px;
}
.menu-epoint{
    color: gray;
}
.menu-epoint:hover {
    color: #a90174;
}
.paragraf-1{
    width: 40%;
    height: 100%;
}
.paragraf-2{
    width: 40%;
    height: 100%;
    margin-left: 50%;

}